.chat-box {
  height: 60vh;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
}

.chat-bot {
  height: 80%;
  padding: 1em;
  text-align: left;
}

.chat-bot-response {
  display: flex;
}

.chat-bot-response--right {
  flex-flow: row-reverse;
}

.chat-bot-profile-pic {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url("../images/turtle.svg");
  background-size: 120%;
  background-position: -7px;
  background-repeat: no-repeat;
}

.user {
  border-top: 1px solid grey;
  padding: 1em;
}
